@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


h1{
    font-family: 'Bree Serif', serif;
    text-align: center;
    
}

.calculator
{
  margin: auto;
  padding:10px;
  border-radius: 5px;
  background-color: #C4B5FD;
  width: 400px;
  height: 380px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border: solid black 0.5px;
}


.displayBox
{
    font-family: 'Bree Serif', serif;
    background-color: #F3F4F6;
    border-radius: .5rem;
    width: 98%;
    height: 65%;
    border: solid black 0.5px;
    font-size: 1.5rem;
}

.button {

    font-family: 'Bree Serif', serif;
    background-color: #A78BFA;
    color: white;
    width: 100%;
    border: solid black 0.1px;
    border-radius: 5px;
    height: 70%;
    outline: none;
    font-size: 1.2rem;
   }